<%= form_with(model: [:admin, course], class: "space-y-4") do |form| %>
  <% if course.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md">
      <ul class="list-disc ml-5 mt-2">
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "コース名", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500" %>
  </div>

  <div class="flex items-center gap-2">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
    <%= link_to "キャンセル", admin_courses_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
  </div>
<% end %>
