<div class="w-full">
  <div class="mb-4">
    <%= link_to "コース一覧に戻る", admin_courses_path, class: "text-blue-600 hover:text-blue-500 font-medium" %>
  </div>

  <h1 class="font-bold text-4xl mb-4"><%= @course.name %></h1>

  <%= turbo_frame_tag "sections" do %>
    <% @course.sections.each do |section| %>
      <%= render partial: "admin/sections/section", locals: { section: section } %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag Section.new do %>
    <%= render "admin/sections/new_link", course: @course %>
  <% end %>
</div>
